<div class="wrapper">
  <div class="sign-up">
    <div class="register">
      <h2 class="title">Sign up</h2>
      <form class="reg-form">
        <div class="grouo">
          <label for="name">Name</label>
          <input type="text" id="name" required placeholder="Enter name" />
        </div>
        <div class="group">
          <label for="mai">Mail</label>
          <input type="email" id="mail" required placeholder="Enter E-Mail" />
        </div>
        <div class="group">
          <label for="pass">Password</label>
          <input
            type="password"
            id="pass"
            required
            placeholder="Enter Password"
          />
        </div>
        <div class="group">
          <label for="re-pass">Re-type Password</label>
          <input
            type="password"
            id="re-pass"
            required
            placeholder="Repeat Password"
          />
        </div>
      </form>
    </div>
  </div>
</div>
